.description {
  display: flex;
  width: 100%;
}

.btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px 15px;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
}

.btn-next:hover {
  color: #f1f1f1;
}

.btn-prev {
  position: absolute;
  top: 39%;
  transform: translateY(50%);
  padding: 10px 10px;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
}

.btn-prev:hover {
  color: #f1f1f1;
}

.slider {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.slide {
  width: 100%;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide:not(.active) {
  transform: translateX(100%);
}
